<div>
  <%= link_to user_following_index_path(user) do %>
    <strong>
      <%= t('views.follow.stats.following') %><%= user.following.size %>
    </strong>
  <% end %>
  &nbsp;
  <%= link_to user_followers_path(user) do %>
    <strong>
      <%= t('views.follow.stats.followers') %><%= user.followers.size %>
    </strong>
  <% end %>
</div>
